<div id="banner">
    <div class="div_header">
        <img src="images/nitplogo.png" alt="nitplogo" class="nitplogo">
        <div class="name_div">
            <div class="name_eng">NATIONAL INSTITUTE OF TECHNOLOGY, PATNA</div>
            <div class="name_hindi">राष्ट्रीय प्रौद्योगिकी संस्थान, पटना</div>
        </div>
    </div>
</div>