<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title_top %></title>
    <link rel="shortcut icon" type="image/x-icon" href="images/nitplogo.png" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="/materialize/css/materialize.min.css"> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="./materialize/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>