 <%- include('index'); -%>

 <h2 class="mb-4">Events</h2>





 <script>
     var listitem = document.getElementById('events');
     listitem.classList.add('active')
 </script>
 </div>
 </div>

 </body>

 </html>