<%- include('partials/header'); -%>

<body class="has-fixed-sidenav">
    
    <%- include('partials/sidebar'); -%>

    <section>
        <%- include('partials/banner'); -%>
        
    </section>
<<<<<<< HEAD

    
=======
    <div class="main">
      
    </div>
>>>>>>> d363547438aa4ba38179fc0c96cb2caa3faff67a
</body>
<script>
  var listitem = document.getElementById('events');
  listitem.classList.add('active')
</script>
<%- include('partials/footer') -%>