 <%- include('index'); -%>

 <h2 class="mb-4">FacultyProfile</h2>



 <script>
     var listitem = document.getElementById('faculty_prof');
     listitem.classList.add('active')
 </script>
 </div>
 </div>

 </body>

 </html>