<%- include('partials/header'); -%>

<body class="has-fixed-sidenav">
    
    <%- include('partials/sidebar'); -%>

    <section>
        <%- include('partials/banner'); -%>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
    </section>
</body>
<script>
  var listitem = document.getElementById('profile');
  listitem.classList.add('active')
</script>
<%- include('partials/footer') -%>