<%- include('partials/header'); -%>

<body class="has-fixed-sidenav">
    
    <%- include('partials/sidebar'); -%>

    <section>
        <%- include('partials/banner'); -%>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
        <h1>home</h1>
    </section>
</body>
<script>
    var listitem = document.getElementById('home');
    listitem.classList.add('active')
</script>

<%- include('partials/footer') -%>
