 <%- include('index'); -%>

<h2 class="mb-4">Notices</h2>


<script>
  var listitem=document.getElementById('notices');
  listitem.classList.add('active')
</script>
  </div>
  </div>

  </body>

  </html>