.nitplogo{
    height: 5vw;
    width: 5vw;
    margin-top: -2.5vw;
}

.div_header{
    margin-top: -2.7vw;
}

.btn_col{
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
}

.name_eng{
     font-family: Source Sans Pro;
     font-style: normal;
     font-weight: bold;
     font-size: 1.5vw;
     color: #313131;
}

.name_hindi {
     font-style: normal;
     font-weight: bold;
     font-size: 1.5vw;
     color: #313131;
}

.name_div{
    display: inline-block;
    margin-left: 1vw;
}

